.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 70px;
}
.logo {
  width: 190px;
  height: 60px;
}
.loginBox {
  margin-top: 30px;
}

.avatar {
  width: 60px;
  height: 60px;
}

.search {
  margin-left: 1000px;
  background-color: transparent;
  height: 10px;
  padding: 30px;
  color:black;
  background-color: lightgoldenrodyellow;
  height: 0%;
}
.items:hover {
  background-color: orangered;
}
.avatarDropdown {
  padding: 10px;
  margin-left: 5px;
}
